.block_avatar .counter{
    display:block;
}
.block_avatar .total_count_comments{
    font-size:10px;
    text-align: center;
    width: 100%;
    display: block;
    padding-right: .5rem !important;
}
.data{
    float: right;
}
.tooltip_templates{
    display:none;
}
.comment_body{
    transition: 20s;
}
.found::before {
    //display:none;
    content: "";
    min-height: 47px;
    height: 100%;
    width: 14px;
    background-color: #4c494859;
    left: -17px;
    margin-left: -14px;
    position: relative;
}
.important10{
    background-color: #ff090059;
    margin: 0px -16px;
    padding: 0px 16px;
}
.important10 .username,
.important10 .comment
{
    color:#000!important;
}

.username.target_to{
    cursor:pointer;
    font-weight:bold;
}


.noread{
    background-color: #00800073;
    margin: 0px -16px;
    padding: 0px 16px;
}

.found{
    //background-color: #4c494859;
    //margin: 0px -16px;
    //padding: 0px 16px;
    //transition: 0s;
}

.comment_block{
    display: grid;
}


.tooltipster-content,.tooltipster-content a {
    color: #fff;
    font-weight: normal;
    font-family: arial;
}

.tooltips{
    display:block;
    cursor: help;
}
.toasts{
    position: fixed;
    width:350px;
}
.avatar_image{
    display:block;
}



.container {
    //margin-top: 50px;
}
@media (min-width:992px) {
    .container {
        //margin-top: 30px;
    }
}

@media (max-width:992px) {
    .container {
        max-width: 100%;
    }
    .comment_body p{
        font-size: 20px;
        font-weight: normal;
        font-family: arial;
    }
}
.removed{
    visibility: hidden;
    opacity: 1;
    transition: visibility 1s, opacity 1s linear;    
}
.top_comment small.short{
    display: block;
    overflow: hidden;
    max-height: 100px;
    width: 100%;
    min-height: 31px;
}
.showalltext{
    cursor:pointer;
}
.hidden{
    display:none;
}
